.container {
  border: 3px solid black;
  width: 800px;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

/* .box{
    width: 100px;
    height:100px;
} */

.box1 {
  background-color: aqua;
}

.box2 {
  background-color: yellow;
}
.box3 {
  background-color: pink;
}
.box4 {
  background-color: green;
}
.box5 {
  background-color: blue;
}
