.container{
    width: 300px;
    height: 1000px;
    background-color: black;
    /* position: relative; */
}

.box1{
    width: 150px;
    height: 150px;
    background-color: brown;
    
}
.box2{
    width: 150px;
    height: 150px;
    background-color: blue;
    position: sticky;
    right: 10px;
    /* top: 150px; */
}
.box3{
    width: 150px;
    height: 150px;
    background-color: green;
}
