html{
  scroll-behavior: smooth;
}

*{
  font-family: myFont;
}

@font-face{
  font-family: "myFont";
  src: url(./images/清松手寫體1.ttf);
}

/* transitin: property name, duration, timing function */
h2{
  transition: all 1s ease-out ;
}

h2:hover {
  background-color: green;
  color: azure;
}

/* background image */
body {
  color: black;
  background-image: url(./images/simpsons/sky.jpg);
  background-position: center;
  background-size: cover;
}


/* border-collapse */
table,
th,
td {
  border-collapse: collapse;
  border: 1px solid black;
}
/* th,
      td {
        padding: 0.25rem;
      } */

a {
  color: rgba(24, 24, 23, 0.886);
}


.survey {
  background-color: brown;
  color: aqua;
  padding: 1vh 5vw;
  text-decoration: none;
}

.survey:hover {
  background-color: coral;
  color: black;
}

